/*this will target all text under the selectors in html document 
and make it grey*/
h1,h2,h3,ul,p2{
    color: #333;
}

/*this will move the wrapper to center and give background colour
selecting using the wrapper class*/
.wrapper{
    background-color: rgba(175, 99, 12, 0.467);
    width: 80vh;
    margin: 0 auto;
    border: solid 4px #000;
}

/*using wrapper class targeting ul odd section from list and bolding */
.wrapper ul li:nth-child(odd){
    font-weight: bold;
}



